#flash-message {
  position: fixed;
  bottom: -100%;
  opacity: 0;
  left: 0;
  animation: fadeInFlashMessage 2.5s forwards;
  width: 100%;
}

@keyframes fadeInFlashMessage {
  0% {
    bottom: -100%;
  }

  10% {
    bottom: 0;
  }

  35% {
    opacity: 1;
  }

  80% {
    bottom: 0;
  }
  75% {
    opacity: 1;
  }
  
  100% {
    bottom: -100%;
    opacity: 0;
  }
}